.tintScreenEditMode {
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editModeContainer {
  position: relative;
  width: 20vw;
  height: 50vh;
  background-color: white;
  border-radius: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
}

.editModeContainer > div:first-of-type {
  flex: 2;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
}
.editModeContainer > div:first-of-type > .nameEdit {
  font-size: 3vh;
  margin: 2vh 0;
  width: 17vh;
  font-weight: bold;
  border: 0.1vh solid transparent;
  outline: none;
  text-align: center;
  border-radius: 1vh;
}
.editModeContainer > div:first-of-type > .nameEdit:focus {
  border: 0.1vh solid #767676;
}

.editModeContainer > div:first-of-type > div  > span:first-of-type {
  margin: 0;
  font-weight: bold;
  font-size: 1.5vh;
  margin: 0 0.7vh 0 0;
  padding: 0;
  color: #606060;
}
.editModeContainer > div:first-of-type > div  > input {
  border: none;
  outline: none;
  width: 10vh;
  border: 0.1vh solid transparent;
  font-size: 1.5vh;
  font-weight: bold;
  border-radius: 1vh;

}
.editModeContainer > div:first-of-type > div  > input:focus {
  border: 0.1vh solid #767676;

}
.editModeContainer > div > .createdform {
  margin: 1vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editModeContainer > div > .createdform > span {
  text-align: center;
  max-width: 15vh;
  font-size: 1.2vh;
  font-weight: bold;

}
.editModeContainer > div > .editedform {
  margin: 1vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editModeContainer > div > .editedform > span {
  text-align: center;
  max-width: 15vh;
  font-size: 1.2vh;
  font-weight: bold;
}

.saveBtnContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
.saveBtnContainer > button {
  border: none;
  height: max-content;
  width: 15vh;
  background-color: transparent;
  border: 0.1vh solid #4d4d4d;
  color: black;
  font-weight: bold;
  border-radius: 1vh;
  font-size: 1.5vh;
  z-index: 50;
}

.saveBtnContainer > button:active {
  transform: scale(0.95);
}